/* Estas etiquetas comparten las mismas propiedades.
Cualquier otra etiqueta h2 tendrá las mismas características*/
h1,h2{
	text-align: center;
	text-decoration: underline;
}

p{
	text-align: right;
	color: blue;
}

*{
	font-family: Verdana;
}

p#rusia{
	border: 1px dotted black;
}

span.bombo{
	color: orange;
	font-weight: bold;
	text-decoration: underline;
}

div#cabecera{
	background-image: url("../../src/img/fwc_darkbluebg.png");
	height: 100px;
}