header{
	background-image: url('../../src/img/bgn_header.jpg');
	color: #000;
}

header>h1{
	text-align: center;
	font-weight: bold;
	font-size: 40pt;
	text-shadow: 1px 0px 11px rgba(144, 150, 150, 1);
}

nav.navbar.navbar-default{
	background-color: rgb(185, 200, 201);
	border-top: solid 1.5pt;
	border-bottom: solid 1.5pt;
	border-radius: 0px;
}

nav>ul>li:hover{
	background-color: #537c9a
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	font-weight: bold;
	background-color: #364242;
	color: #fff;
}

/*
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: red;
}
*/

.table-striped > tbody{
	color: black;
}
.table-striped > thead{
	color: white;
	font-weight: bold;
	background-color: gray;
}