footer{
	height: 80px;
	width: auto;
	margin: 10px 20px 10px 20px;
	border: 1px solid blue;
	text-align: justify;
}
footer img{
	margin-top:10px;  
}
video{
	width: 100%
}

.imagen{
	 box-shadow: 5px 5px grey;
}