{% extends "MisServicios/base.html" %}
{% load static %}

{% block content %}
    {% for usuario in usuarios %}
        <div class="col-md-3 text-center">
            <a href="/usuariodetalles/{{usuario.id}}"> <img class="rounded-circle img-circle" src="{% static 'img/img.jpg' %}" width="50%" ></a>
            <h4>{{ usuario.nombre }}</h4>
            <h5>{{ usuario.ciudad }}</h5>
            <p class="text-left">Servicios:</p>
            <ul class="text-left">    
                {% for servicio in usuario.servicios.all %}
                    <li>{{ servicio.servicio.nombre }}</li>
                {% endfor %}
            </ul> 
        </div>
    {% endfor %}
{% endblock %}
