{% extends "MisServicios/base.html" %}
{% load static %}

{% block js %}   
<script src="{% static 'js/ajax.js'  %}"></script>
{% endblock %}

{% block content %}
  <div class="col-md-3 text-center">
    <img class="rounded-circle img-circle" src="{% static 'img/img.jpg' %}" width="50%" >
    <p class="text-center">{{ usuario.nombre }}</p>
    <p class="text-center">{{ usuario.ciudad }}</p>
  </div>
  <div class="col-md-9">
    <h3>Servicios registrados</h3>
    <table class="table table-striped">
      <tr>
        <th>Servicio</th>
        <th>Dirección</th>
        <th>Fecha</th>
        <th>Ver</th>
      </tr>
      {% for servicio in usuario.servicios.all %}
        <tr id="row{{ servicio.id }}">
          <td>{{ servicio.servicio.nombre }}</td>
          <td>{{ servicio.direccion }}</td>
          <td>{{ servicio.fecha|date:"d-m-Y" }}</td>
          <td><a class="btn btn-primary " onclick="ver(row{{ servicio.id }})">ver</a></td>
        </tr>
      {% endfor %}
    </table> 
  </div>  
  <a class="offset-md-2 col-md-2 btn btn-primary " href="/listaapi">Atrás</a>
  <a class="offset-md-5 col-md-2 btn btn-primary " onclick="agregar()">Agregar</a>
  <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        	<button href="/login/" type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
    	  </div>
       	<div class="modal-body">
          {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-3" for="nombre">Usuario</label>
            <input type="text" id="id" name="id" value="{{ usuario.id }}" style="display:none">
            <input type="text" class="col-sm-8 form-control" id="nombre" name="nombre" value="{{ usuario.nombre }}" readonly>
          </div>
          <div class="form-group row">
            <label class="col-sm-3" for="servicio">Seccione un servicio</label>
            <select class="col-sm-8 form-control" id="servicio" name="servicio">
            </select>
          </div>
          <div class="form-group row">
            <label class="col-sm-3" for="nombre">fecha registro</label>
            <input type="date" class="col-sm-8 form-control" id="registro" name="registro" placeholder="ingrese registro">
          </div>
          <div class="form-group row">
            <label class="col-sm-3" for="nombre">dirección</label>
            <input type="text" class="col-sm-8 form-control" id="direccion" name="direccion" placeholder="ingrese su dirección">
          </div>
          <a type="submit" class="btn btn-primary" onclick="guardar()">Crear servicios</a>
       	</div>
      </div>
    </div>
  </div>
       
{% endblock %}